name: Docker Publish

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: hydroroll-webhook

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: sudo docker build . --file Dockerfile --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"

      - name: Log in to registry
        run: echo "${{ secrets.ACCESS_TOKEN }}" | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image to GitHub Container Registry
        run: |
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')

          VERSION=${{ github.sha }}

          echo "IMAGE_ID: $IMAGE_ID"
          echo "VERSION (Commit SHA): $VERSION"

          sudo docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          sudo docker tag $IMAGE_NAME $IMAGE_ID:latest

          sudo docker push $IMAGE_ID:$VERSION
          sudo docker push $IMAGE_ID:latest